Repository Im-Rises/CUnicodeLib, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, CMakeLists, source, demo, readme, cUnicode-src, github-actions

Updated init function
  cUnicodeLib/cUnicodeLib.h
Labels: cUnicode-src

Updated function
  README.md
  cUnicodeLib/cUnicodeLib.h
  cUnicodeLib/demo.c
Labels: repo, readme, cUnicode-src

Wip
  CMakeLists.txt
  cUnicodeLib/CMakeLists.txt
  cUnicodeLib/cUnicodeLib.c
  test/CMakeLists.txt
  test/main.c
Labels: repo, CMakeLists, cUnicode-src

New version
  README.md
Labels: repo, readme

New version
  .github/workflows/cpp-cmake-publish.yml
  cUnicodeLib/cUnicodeLib.c
  cUnicodeLib/cUnicodeLib.h
  test/main.c
Labels: cUnicode-src, github-actions

wip
  cUnicodeLib/cUnicodeLib.c
  test/CMakeLists.txt
Labels: cUnicode-src

wip
  cUnicodeLib/cUnicodeLib.c
Labels: cUnicode-src

wip
  CMakePresets.json
  CMakeSettings.json
  test/CMakeLists.txt
Labels: repo

wip
  cUnicodeLib/CMakeLists.txt
Labels: CMakeLists

Corrected include
  test/CMakeLists.txt
Labels: none

Updated cmake and readme
  README.md
  test/CMakeLists.txt
Labels: repo, readme

New version
  README.md
  cUnicodeLib/cUnicodeLib.h
  test/main.c
Labels: repo, readme, cUnicode-src

.github/labeler.yml:

repo:
- '*'

CMakeLists:
- 'cUnicodeLib/CMakeLists.txt'

source:
- 'cUnicodeLib'

demo:
- 'NesEmulator/demo.*'

readme:
- 'README.md'

cUnicode-src:
- 'cUnicodeLib/cUnicodeLib.*'

github-actions:
- '.github/**/*.yml'
