Repository Im-Rises/CUnicodeLib, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, CMakeLists, source, demo, readme, cUnicode-src, github-actions

.github/labeler.yml:

repo:
- '*'

CMakeLists:
- 'cUnicodeLib/CMakeLists.txt'

source:
- 'cUnicodeLib'

demo:
- 'NesEmulator/demo.*'

readme:
- 'README.md'

cUnicode-src:
- 'cUnicodeLib/cUnicodeLib.*'

github-actions:
- '.github/**/*.yml'

Updated readme.md
  .github/workflows/cpp-cmake-publish.yml
  README.md
  cUnicodeLib/cUnicodeLib.h
  cUnicodeLib/demo.c
Labels: repo, readme, cUnicode-src, github-actions

wip
  README.md
Labels: repo, readme

Added some examples
  README.md
Labels: repo, readme

Corrected code
  CMakeSettings.json
  cUnicodeLib/cUnicodeLib.h
Labels: repo, cUnicode-src

Correcting worfklows
  .github/workflows/cpp-cmake-publish.yml
Labels: github-actions

Added license
  .clang-format
  .clang-tidy
  CMakeLists.txt
  CMakePresets.json
  LICENSE
  cUnicodeLib/CMakeLists.txt
Labels: repo, CMakeLists

wip
  .github/workflows/cmake.yml
Labels: github-actions

wip
  .github/workflows/codeql.yml
Labels: github-actions

wip
  cUnicodeLib/cUnicodeLib.c
Labels: cUnicode-src

Deleted lib .c
  cUnicodeLib/CMakeLists.txt
  cUnicodeLib/cUnicodeLib.c
  cUnicodeLib/cUnicodeLib.h
Labels: CMakeLists, cUnicode-src

wip
  cUnicodeLib/cUnicodeLib.h
  cUnicodeLib/demo.c
Labels: cUnicode-src

wip
  cUnicodeLib/cUnicodeLib.h
  cUnicodeLib/demo.c
Labels: cUnicode-src

wip
  cUnicodeLib/cUnicodeLib.h
  cUnicodeLib/demo.c
Labels: cUnicode-src

wip
  cUnicodeLib/cUnicodeLib.h
  cUnicodeLib/demo.c
Labels: cUnicode-src

Debugging
  cUnicodeLib/cUnicodeLib.h
Labels: cUnicode-src

wip
  README.md
  cUnicodeLib/demo.c
  cUnicodeLib/demo2.c
Labels: repo, readme

wip
  README.md
  cUnicodeLib/demo.c
Labels: repo, readme

wip
  cUnicodeLib/demo.c
Labels: none

wip
  cUnicodeLib/demo.c
Labels: none

New version
  cUnicodeLib/demo.c
Labels: none

wip
  README.md
  cUnicodeLib/demo.c
Labels: repo, readme

wip
  cUnicodeLib/demo.c
Labels: none

wip
  cUnicodeLib/demo.c
Labels: none

wip
  cUnicodeLib/demo.c
Labels: none

wip
  cUnicodeLib/demo.c
Labels: none

wip
  cUnicodeLib/demo.c
Labels: none

wip
  cUnicodeLib/demo.c
Labels: none

wip
  cUnicodeLib/demo.c
  cUnicodeLib/demo2.c
Labels: none

wip
  cUnicodeLib/demo.c
Labels: none

New version
  cUnicodeLib/cUnicodeLib.h
  cUnicodeLib/demo.c
Labels: cUnicode-src

wip
  cUnicodeLib/demo.c
Labels: none

wip
  .clang-tidy
  README.md
  cUnicodeLib/demo.c
Labels: repo, readme

wip
  cUnicodeLib/cUnicodeLib.h
  cUnicodeLib/demo.c
Labels: cUnicode-src

New version
  README.md
  cUnicodeLib/cUnicodeLib.h
  cUnicodeLib/demo.c
Labels: repo, readme, cUnicode-src

wio
  README.md
  cUnicodeLib/demo.c
Labels: repo, readme

Updated CMake
  CMakeLists.txt
Labels: repo

Added new command
  cUnicodeLib/cUnicodeLib.h
Labels: cUnicode-src

Rename
  cUnicodeLib/cUnicodeLib.h
Labels: cUnicode-src

wip
  cUnicodeLib/cUnicodeLib.h
Labels: cUnicode-src

Updated readme
  README.md
Labels: repo, readme
